.leaflet-carto-graticule-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none; /* Let clicks pass through to map */
    z-index: 800; /* Above map tiles (200) and overlays (400), but below controls (1000) */
    background-color: transparent; /* Transparent so we see map tiles when ticks are 'in' */
}

/* Ensure map container is above graticule container */
#map {
    z-index: 10;
}

.leaflet-carto-graticule-label {
    position: absolute;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: #000;
    white-space: nowrap;
    pointer-events: none;
    line-height: 1;
}

.leaflet-carto-graticule-tick {
    position: absolute;
    background-color: #000;
    pointer-events: none;
}

.rotate-270 {
    transform: rotate(270deg);
    transform-origin: center center;
}

/* Control Button */
.leaflet-control-carto-graticule-toggle {
    background-color: #fff;
    width: 32px;
    height: 32px;
    cursor: pointer;
    box-sizing: border-box;  
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAOWUlEQVR4AeybeZyVVRnH32EZhi39RIDiEsuwDgxbkYixZmwfZSlAhIRUQCFjs6hMQgoFFzAS0kAKlwAjRYIBEVQ26ROMODDDkhpjuICUqYBGbH1/h3Pmc+9933vve+fO8A/M5zz3nPOc5zznOb+zn/NOBe8C/7sIwAXeAbyLPeBiD7jAEbg4BM5HB8jOzv5STk5Ot1atWk1q2bLlXOg56BXoNWgttIj0+0gfA/Vu3779JefDLpVRbj2ASuVSqen4O7Kysj7NyMh45ezZs49Q6F3QIKgb1AXqCX2f9KmkPw7lnThx4hPyCZhbyxuMMgeASt9CK/6VShVQqXvx20Ox7lUY70EeFd6Avx2KdQLmSYGBzhVQ91iBsoiXGQBU+lu0WhGVXkylvmGNO4BfADm3rmLFik0LCwtVmXfFRH458Q74dxA/Ajn3pguQ1g/agP7tANHJ8cvCTxsAKt4Qw1ZS6ZcxqAXkYaziPfDV1bPFgx6ioj0LCgr+Ttjndu/e/QTMVpBAw/MqkD8X+gWRg5Dc14hvobync3Nz64iRLqUFAK0xiorvwogbIFV8OfHGVKYf/h5oDfzq0Doq/2N8n6NCZxwTmcNnzpyRri/g5ZL/AXRNh3818dugf0Byw5HbDxC3KpIOlQqAZs2a1aLwVRj/OwpXBdVdO2HsoKKiorfheRUqVJiFXxs6SrePaygVOYtMiduzZ08RkTGQXF962GgFAGER1IgyNYkKoEvhP4kdD+OX2qUMQOvWra+oVKnS3yixL6RJbBaGtYVeV1yE0R3xb4GUfhfd/n2FgwigMmL56Hoa3p8h5b+f7i6QFfUA+bHTp0+3JrIDkptMeWoIhVOmlADAkAYUrhm+ISV9TGt0ocV/QjjK0XXvt4yNpC+24UCPHlAyBCIFTp48+UPix6BayNyNX+L27t37FiB9HcZ8SCCNoic8rnAyik0PDYAqjyGbUXAl9B4tdy2tsYlwlKM11PpdxQSI8fJLQ/v37/+A/LNt3gkdO3asasMlHiCMI+LmljGA8CjxlFxoAKj882i+ApK7e9euXfsViCXkplheHq0fuQRadngvMzPzMaT/C1169OjREfg+BwgPwVwByY0HhMkKhKVQANCqaok2EUqXUtBm+L0jeF7btm1rMyz6iUfrzZWfDu3cufMI+jQfSE0UAPTI6qxCE7HjQxL7Q849jF3aYbp4Qj8pABTSi8pMlBaMmYq/FJK7Dn4e6QcocDYG9WDc3q4E6G1a/yX8tB09aoFVck2LFi3aUOHbcnJyVsAXOGqYy5SOLQqbMgk/pfOH+MkoKQBU2hmQx5j/JV1uKBXVUNBE9yHp9SlwIgatpzDx8LyDGJnWjo3KtqWyXdHfQApFzDs78RfCUy8zcwLhOZUrV64D4Or6o0jXxHl11apV7yOc1CUEAAM0+2rSO06lpdwo1AQFEPdA9TBA3U2z8b9N4rmfbvC1YzuLDkcHCW+DnqfHaGxrc6PNU39486Fl8DcA3AHCZ6nsG6jSmWEZfqTT3DMX/X2RqUGjTNJQkQD2HKQxzKqEP6F58+aNxU9EcQHAkC+T8eeQlpkpqrTCsYQBmyh4HAa5GV9jciFyW6H/QM4JyGuIDMA4zd5XEZbTfuJOAoPhd0dPfcLGES+G1sArWUopqxk0nnLzmIiPG8GIH3rCPKJmj8AG7FeEE7q4AFCo1mGdy49YpQkVYWhbK7ARA0dB10EC8TLSNF+o234PmbHoViu5/f1fiE9GRj1sCOE+DKd2x44dq0q5DaA+VHYk+YxjaEROxoYX8POA5Q1mbioZQpYX5cUDADsyZJC66G+icsSPmGMvGbUtLpEChMNUYiu0kvAz0G+pkLbJ/7RCa4jPJn0hac8RXsN2eGdxcbGWPytivEL90u3byU9E6NGyaM4NgDkhkWwgAKDWnRapR0btuTVeCSZ15ghMPo3dpMKlENAEqOHoeloiFWdoiDlWYMSgQYMq2rDPCwSASqirSngVLRI5jsXzEYCpm5lZ+dSpU6kCEHUY8im3DGwyAFCxMENAuZ7VD3QJ89e1+IEuHgDfttJrrZ/Qo5s5ow7u27cvcjVImC+VRLq+A9YMtWR5bcPp3OJh343x5H0AsARpdr5cGVj6QgGArGZ4PO8d/ZQH0bOKrd6qYTc59Bpd0iiblmr5PvIBQBfTUqXJr4iu84EvRzBDs73y/Cs4OX1utWrVSq7LatSoYcpLphUA1lkZnRxtMNrzAUAmI4y/L1o0fgzZrygVv1y6v3Tn5+d/jm9WBo7ktQgndewDdLli5NjXmOs6E4n48QFADzDdGd8tUxHiwUHGpzOoNAD4LkSCSzFco58xbQA3nAQ/mgdI1kqG5zXSTyz5AKAVzeGCQkIDQB4DAH65DQFruNEfAbhlJ/TMJSwNqus5n6APACQMAGT4JhPitDBEHtO9MKxrGHnJkMecBfD7Kh6GkNU9oPYCN4eRlwx5zHUa9QkHAK1o1nMyDoR0JR2GzLAhr5abMPKS0WpDEZ7OAoqHoa8qA5RKHnMtj201yedzvh4AUket1Av4OlKGIfPKg/wqKIy8ZNxZYHUKedywzEshj7mlRt53cILn+QAAqY+UAG1lTz0tDCG7B5LTQShsHleZ1WHKkAwFfALJLVE8DCGs+wEt0WYCJR7lfACQehiSc91N4YRErzHKAc9MhgmF00s0+l15IVWZ4zW2mQk0No8PACYyAwCFhAaAFcMAQF5jYGwhZRg3ExnlBVYmthx7k2wmTvKY02GsjA8AkDKbB3wzs8dmCIoDljGIPKF2aDE6Qh2GbGUylZcNjilP4UR0/PhxPaAYEY7YUcd0w+THBwCtuAW+XHabNm3qKxCCPrYy5dYDuBYv2fzwZB4KAFq9l7Ur7vW8DwCumXTnZiZCtpzuVGj1xPXcKhC424qbK4UEepleo5TjGGcUt1Ipnoic/a/FE/IBYAVNL6BL6yMFy4rvYZxD+Cp6jRlz8aV9KaG2wrSmuwkK7MqxWu2XJeZgR5qWTTy/CwSACukVSNJ9OUQkHdfsuTXB6LDicWw1hyllLkvCJncTZC5GkulmmOhxVuB+Dnip9QDGm15mteZWYU74QbLCbLpejLXeupay7LLxAMDoxQ8DQAV67yRb8hImwP/ZsM8L7AH2QtJcRaMoLAD50o58G/mO2I/XpRd1gm7k3n8Y8Tvx9X7ozgK9iU8i/XbShhDuzRVbu/r162c5HQqjN0dxWtPdDCkaSOj4DkCZCZwGfDRQyDIDAVAaGd2HB7Uxbqx4iYgCXct0oSILID2MaH9wiLQt0ItU4hl0zMefie/OAjcQf4R0vUAtJZxHJfO59PiCcvVIspqwPp8hi+dxe+zmGxMP+kGHrt2V9DKTurlNViSI4gJARs3s5s0d4x7klcVck8UqAe3OVHYuhf7apklOb4R6GnPzxxvo0PXaMnxVVOAGnQX+hA7NJ3iehpNasY/neRrPeJ5HWfmUOQV7AjdqpOsLEjNcANI9nZu8QT9xAbDC0/A/g6qz+ZDhBD2vadOm9ShoBqQ3/I0wVWgtfOMAYzMVHUAefRGWwZ69PRNlb/yb8Efj/whBdxZYRdydHwYTbgRlYHxLdPRFl4Zg5EGmHbyZ6C6mfD21lXx+Q1y9Sr1L4M1j7CddMRICgCHaFssA7PX0vc5UCnmBx0h98vIzmJdjjC4r9VZ3PQa7rleXiq4oiPNFGPmSOowvQkceQ1EfYZgzPeFWlDGcMl9EgW56tMzpO6GPsGsGvIVQNej9zMzMe/CTuoQAKDcg6H1eLy26iNAx1rzFY8RmqBdjsgEyeqtbX6lSpUXKg5FN6Kb6UkTRtIgy9HWYdKxmWBYCyrOU2R8w9C2CXoQPkagzghrEbHwofxh3iJ/CT+qSAiANdEc9lEReeQ/EiM6QeY+XjMi+0po9BIYnfJKSfDJq0qSJtr/mizH0RX0IBRjHAWN2YWGh5hzTQNJH5R+Er2GpaFIKBQDd8Rgg6HHTbUFnsVSZW6DYEmgZfbIi9mB6QUMFSktVqlTRXKHlcA9grwzSw0pxE3zTK/FXUHktsQTDuVAASBUgFAFCZ8LaIDUmvDEIBFpGrzGmBWg1MyGRJ2WH7jrkN7M4reo+vIjSA8DDSFtima/TGwbYcGgvNADSCAhvUqADoSEg7MCIqO+EJIfMT+VDg4LS4Sd16J5uhQpoVffOZ1meh945AKR9hXiv8orlTn6Kh6aUAJBWjNnNKbEDYX0iWxcj8piB52m3Bs84ZLbB/6OJeN5CtaYNh/KQ74GgG/v6mILoOUdZuVS+EP1mjgFsXY91T+GEeE6R/U0ZAOWzHyq2xgh9mCTW2Jo1a77DeJzggOBQpPH7GTL1AGy5hMIQGxwtrU9Jlrx/YOzrSxMP3dnQ7+EXwDfbYsITAPtm/FK7UgHgSsO4ybTA9RikT1n0vdActq3v0kpakiT2Xf0gozeG1WygAq+mJSMivR4bnLXo07cJhVlZWeNobe00l6LjLWik5KDthJsz5t3uE1bpXFoAqEhaYD1ANMAgjXsdievAn1G5cmVtlrRObyMu1wdePuCYtVqMSII/nHQddHLFB4QdHGl342tCHSIeZWjnOYKKd6Dc0G+XyhuP0gbAKcagmUxcjTBYw8K95OpCJXJDpK+2XqKyOtBon6/sQ+na+h8BbbjqiiGismptt4xuQu9ojumNANsMD8mUBZUZADKGVeIQBk6mhepQAb3Ja2sauYGSmEitrG8NFe6MrANDcZHu/HRwuoMhcSX69FH2guJi33dDkk2LyhSASEvoEfp8Tl+LZdMzNLENJV3r+UJ8vTrplkbdex0ALIb0SZs2NdlUuDakg9MTnCc0lMhSPq7cAIg01/aMpVRKH1cKlIGEu0FdoZ6ANRK6l/AyKKjHRKor0/B5AaBMLY5Rlm70/wAAAP//YD5eVgAAAAZJREFUAwC4Y6LbqQWtVQAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 30px 30px;
}

.leaflet-control-carto-graticule-toggle svg {
    display: none;
}
.leaflet-control-carto-graticule-toggle:hover {
    background-color: #f4f4f4;
}
